<% content_for(:body_attributes) do %>
   data-turbolinks="false"
 <% end %>
<div class="locations"></div>
<!-- <div data-turbolinks="false"> -->
<div>
<% if @ride.id %>
  <% url = admin_ride_path(@ride) %>
<% else %>
  <% url = admin_ride_index_path %>
<% end %>
<%= form_with(url: url , model: @ride, local: true) do |form| %>
  <% if @ride.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@ride.errors.count, "error") %> prohibited
        this ride from being saved:
      </h2>
      <ul>
        <% @ride.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-row">
  <div class="form-group offset-md-1 col-8">
    1. <%= form.label :rider_id %><br>
    <%= form.collection_select :rider_id, Rider.where("organization_id =? AND is_active = ?", current_user.organization_id, true), :id, :full_name, { :include_blank => ' ' }, onchange: "getLocations($(this).val())" %>
  </div>

  <div class=" col-2">
    2. <%= form.label :driver_id, "Assign a driver" %><br>
      <%= form.collection_select :driver_id, Driver.where("organization_id =? AND is_active = ?", current_user.organization_id, true), :id, :full_name, { :include_blank => ' ' }, onchange: "getLocations($(this).val())" %>
  </div>
</div>


<div class="form-row">
  <div class="form-group offset-md-1 col-4">
    3. <%= form.label :pick_up_time %>
    <%= form.text_field :pick_up_time, id: 'ride_pick_up_time' %>
  </div>

  <div class="form-group  col-md-2">
    4. <%= form.check_box :round_trip %>
    <%= form.label :round_trip, "Round Trip" %>
  </div>

  <div class="form-group col-4" id = "return_pick_up_time" style="display: none">
    <div id="return_pick_up_time">
      <%= form.label :return_pick_up_time %>
      <% if @ride.return %>
      <%= form.text_field :return_pick_up_time, value: "#{Ride.find(@ride.return).pick_up_time}", id: 'ride_return_pick_up_time' %>
      <%= collection_select(:second_ride, :second_driver_id, Driver.where("organization_id =? AND is_active = ?", current_user.organization_id, true), :id, :full_name, { :include_blank => ' ' , :selected => "#{Ride.find(@ride.return).driver_id}"}) %>
      <% else %>
      <%= form.text_field :return_pick_up_time, id: 'ride_return_pick_up_time' %>
      <%= form.collection_select :second_driver_id, Driver.where("organization_id =? AND is_active = ?", current_user.organization_id, true), :id, :full_name, { :include_blank => ' ' }, id: 'ride_return_pick_up_time' %>
      <% end %>
      <%= form.label :driver_id, "Assign a round trip driver" %>
    </div>
  </div>
</div>
<div class="form-row">
  <div class="form-group offset-md-1 col-10">
    <div class: "start_location">
      5. <%= label_tag :start_location, "Start Location" %>
      <p> Would you like to use previously saved location? <%= form.collection_select "organization_rider_start_location",
        Location.joins(:location_relationships).select("DISTINCT ON (street, city, zip)*").where("organization_id=?", current_user.organization.id).limit(15),
      :address_parsed, :full_address, { :include_blank => ' ' }  %> </p>
    </div>
  </div>
</div>
  <%= javascript_tag do %>
   $('#ride_organization_rider_start_location').on('change', function() {
      var data = JSON.parse(this.value);
      var street = data.street;
      var city = data.city;
      var state = data.state;
      var zip = data.zip
      $('#ride_start_street').val(street);
      $('#ride_start_city').val(city);
      $('#ride_start_state').val(state)
      $('#ride_start_zip').val(zip);
    });

    function startLocationDropdownReset() {
      document.getElementById("ride_organization_rider_start_location").selectedIndex = 0;
    }

  <% end %>
  <%if @ride.start_location_id.nil? %>
    <%if @start_location.nil? %>
      <% start_street = "" %>
      <% start_city = "" %>
      <% start_state = "" %>
      <% start_zip = "" %>
    <%else %>
      <%start_street = @start_location.street %>
      <%start_city = @start_location.city %>
      <%start_state = @start_location.state %>
      <%start_zip = @start_location.zip %>
    <% end %>
  <% else %>
    <%start_street = @ride.start_location.street %>
    <%start_city = @ride.start_location.city %>
    <%start_state = @ride.start_location.state %>
    <%start_zip = @ride.start_location.zip %>
  <% end %>
<div class="form-row">
  <div class="form-group offset-md-1 col-md-10">
    <%= form.label :start_street, "Street" %>
    <%= form.text_field :start_street, value: start_street, class: "form-control", oninput: "startLocationDropdownReset()"%>
  </div>
</div>

<!-- </div> -->

<div class="form-row">

    <div class="form-group offset-md-1 col-4">
      <%= form.label :start_city, "City" %>
      <%= form.text_field :start_city, value: start_city,  class: "form-control", oninput: "startLocationDropdownReset()" %>
    </div>

    <div class="form-group col-4">
      <%= form.label :start_state, "State" %>
      <%= form.text_field :start_state, value: start_state, class: "form-control", oninput: "startLocationDropdownReset()" %>
    </div>

    <div class="form-group col-2">
      <%= form.label :start_zip, "Zip" %>
      <%= form.text_field :start_zip, value: start_zip, class: "form-control", oninput: "startLocationDropdownReset()" %>
       <div class= "start_location_checkbox">
         <h6><%= form.check_box :save_start_location, {}, checked_value = "saved", unchecked_value = "not saved" %> Save Start Location</h6>
      </div>
    </div>

</div>

<div class="form-row">
  <div class="form-group offset-md-1 col-10">
    <div class: "start_location">
      5. <%= label_tag :end_location, "End Location" %>
      <p>  Would you like to use previously saved location? <%= form.collection_select "organization_rider_end_location",
       Location.joins(:location_relationships).select("DISTINCT ON (street, city, zip)*").where("organization_id=?", current_user.organization.id).limit(15),
      :address_parsed, :full_address, { :include_blank => ' ' }  %> </p>

    </div>

  </div>
</div>

 <%= javascript_tag do %>
   $('#ride_organization_rider_end_location').on('change', function() {
      var data = JSON.parse(this.value);
      var street = data.street;
      var city = data.city;
      var state = data.state;
      var zip = data.zip;
      $('#ride_end_street').val(street);
      $('#ride_end_city').val(city);
      $('#ride_end_state').val(state);
       $('#ride_end_zip').val(zip);
    });

    function endLocationDropdownReset() {
      document.getElementById("ride_organization_rider_end_location").selectedIndex = 0;
    }
  <% end %>
  <%if @ride.end_location_id.nil? %>
    <%if @end_location.nil? %>
      <% end_street = "" %>
      <% end_city = "" %>
      <% end_state = "" %>
      <% end_zip = "" %>
    <%else %>
      <%end_street = @end_location.street %>
      <%end_city = @end_location.city %>
      <%end_state = @end_location.state %>
      <%end_zip = @end_location.zip %>
    <% end %>
  <% else %>
    <%end_street = @ride.end_location.street %>
    <%end_city = @ride.end_location.city %>
    <%end_state = @ride.end_location.state %>
    <%end_zip = @ride.end_location.zip %>
  <% end %>

<div class="form-row">
  <div class="form-group offset-md-1 col-md-10">
    <%= form.label :end_street, "Street" %>
    <%= form.text_field :end_street, value: end_street, class: "form-control", oninput: "endLocationDropdownReset()"%>
  </div>
</div>

<div class="form-row">
  <div class="form-group offset-md-1 col-4">
      <%= form.label :end_city, "City" %>
      <%= form.text_field :end_city, value: end_city, class: "form-control", oninput: "endLocationDropdownReset()" %>
    </div>

    <div class="form-group col-4">
      <%= form.label :end_state, "State" %>
      <%= form.text_field :end_state,  value: end_state, class: "form-control", oninput: "endLocationDropdownReset()" %>
    </div>

    <div class="form-group col-2">
      <%= form.label :end_zip, "Zip" %>
      <%= form.text_field :end_zip, value: end_zip, class: "form-control", oninput: "endLocationDropdownReset()" %>
       <div class = "end_location_checkbox">
         <h6><%= form.check_box :save_end_location, {}, checked_value = "saved", unchecked_value = "not saved"%> Save End Location</h6>
       </div>
    </div>
</div>

  <div class="form-row">
    <div class="form-group  col-md-10 offset-md-1">
    6. <%= form.label :reason %>
       <%= form.nested_fields_for :reasons do |ff| %>
          <%= ff.text_field :details %>
          <%= ff.remove_nested_fields_link 'Remove'%>
       <%end %><br/>
       <%= form.add_nested_fields_link :reasons %>
    </div>
  </div>
<% if false %>
  <div class="form-row">
    <div class="form-group  col-md-10 offset-md-1">
    <%= form.label :status %><br>
    <%= form.text_field :status,class: "form-control" %>
    </div>
  </div>
<% end %>

<div class="form-row">
  <div class="form-group col-md-10 offset-md-1">
    7. <%= form.label :notes %>
       <%= form.text_field :notes, class: "form-control" %>
  </div>
</div>



<div class="form-row">
  <div class="form-group col-md-1 offset-md-1">
    <%= link_to 'Back', :back, class: "btn btn-outline-primary" %>
  </div>
  <div class="form-group col-md-1 offset-md-8">
    <%= form.submit yield(:button_text), class: "btn btn-outline-success" %>
  </div>
</div>

<% end %>
</div>

<script type="text/javascript">
  // calender for pick_up_time
  const formatDateOut = (date, format) => {
    let d1 = "";
    if (format === "LOCAL") {
      d1 = moment(date).format("LLLL") // what we show the user
    } else {
      d1 = moment.utc(date).format("YYYY-MM-DD hh:mm A") // what we return
    }
    return d1;
  };
  const parseDateIn = (dateString, format) => {
    dateString = dateString.split(" UTC")[0];
    let timezonedDate = new moment.utc(dateString);
    d = timezonedDate.local().toDate();
    return d;
  };
  const el = document.getElementById('ride_pick_up_time');
  flatpickr(el, {
    enableTime:      true,
    altInput:        true,
    minDate:         "today",
    altFormat:       "LOCAL",
    dateFormat:      "UTC",
    defaultHour:     09,
    defaultMinute:   00,
    minuteIncrement: 1,
    parseDate: parseDateIn,
    formatDate: formatDateOut
  });

  const ele = document.getElementById('ride_return_pick_up_time');
  flatpickr(ele, {
    enableTime:      true,
    altInput:        true,
    minDate:         "today",
    altFormat:       "LOCAL",
    dateFormat:      "UTC",
    defaultHour:     23,
    defaultMinute:   59,
    minuteIncrement: 1,
    parseDate: parseDateIn,
    formatDate: formatDateOut
  });

  $(document).ready(function () {
    var value = $('#ride_round_trip')[0].checked
    if (value) {
      $("#return_pick_up_time").show()
    }
    $('#ride_round_trip').on('change', function() {
        if(this.checked)
        {
          $("#return_pick_up_time").show()
        }
        else
        {
          $("#return_pick_up_time").hide()
        }
    });
  });
</script>
