<% content_for(:body_attributes) do %>
   data-turbolinks="false"
 <% end %>

<div class="locations"></div>

<!-- <div data-turbolinks="false"> -->
<div>
<% if @ride.id %>
<% url = admin_ride_path(@ride) %>
<% else %>
<% url = admin_ride_index_path %>
<% end %>
<%= form_with(url: url , model: @ride, local: true) do |form| %>


  <% if @ride.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@ride.errors.count, "error") %> prohibited
        this ride from being saved:
      </h2>
      <ul>
        <% @ride.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-row">
  <div class="form-group offset-md-1 col-8">
    <%= form.label :rider_id %><br>
    <%= form.collection_select :rider_id, Rider.where("organization_id =? AND is_active = ?", current_user.organization_id, true), :id, :full_name, { :include_blank => ' ' }, onchange: "getLocations($(this).val())" %>
  </div
</div>


  <div class="form-group offset-md-1 col-4">

    <%= form.label :pick_up_time %><br>
    <%= form.datetime_local_field :pick_up_time,class: "form-control" %>
  </div>

</div>



<div class="form-row">
  <div class="form-group offset-md-1 col-4">
    <div class: "start_location">
      <%= label_tag :start_location %>
      <p> Would you like to use a previously saved location for the starting address? <%= form.collection_select "organization_rider_start_location",
       Location.joins(:organizations).where( organizations:{ id: current_user.organization.id}).distinct.order(updated_at: :desc).limit(15),
      :address_parsed, :full_address, { :include_blank => ' ' }  %> </p>

    </div>
  </div>
</div>
  <%= javascript_tag do %>
   $('#ride_organization_rider_start_location').on('change', function() {
      var data = JSON.parse(this.value);
      var street = data.street;
      var city = data.city;
      var state = data.state;
      var zip = data.zip
      $('#ride_start_street').val(street);
      $('#ride_start_city').val(city);
      $('#ride_start_state').val(state)
      $('#ride_start_zip').val(zip);
    });

  <% end %>

  <div class="form-group offset-md-1 col-md-10">
    <%= form.label :start_street %><br>
    <%= form.text_field :start_street, class: "form-control" %>
  </div>

<!-- </div> -->

<div class="form-row">

    <div class="form-group offset-md-1 col-4">
      <%= form.label :start_city %><br>
      <%= form.text_field :start_city,class: "form-control" %>
    </div>

    <div class="form-group col-4">
      <%= form.label :start_state %><br>
      <%= form.text_field :start_state,class: "form-control" %>
    </div>

    <div class="form-group col-2">
      <%= form.label :start_zip %><br>
      <%= form.text_field :start_zip,class: "form-control" %>
       <div class= "start_location_checkbox">
         <h6>Save start location? <%= form.check_box :save_start_location, {}, "saved" or "not saved" %> </h6>
      </div>
    </div>

</div>

<div class="form-row">
  <div class="form-group offset-md-1 col-4">
    <div class: "start_location">
      <%= label_tag :end_location %>
      <p>  Would you like to use a previously saved location as the ending address? <%= form.collection_select "organization_rider_end_location",
       Location.joins(:organizations).where( organizations:{ id: current_user.organization.id}).distinct.order(updated_at: :desc).limit(15),
      :address_parsed, :full_address, { :include_blank => ' ' }  %> </p>

    </div>
  </div>
</div>

 <%= javascript_tag do %>
   $('#ride_organization_rider_end_location').on('change', function() {
      var data = JSON.parse(this.value);
      var street = data.street;
      var city = data.city;
      var state = data.state;
      var zip = data.zip;
      $('#ride_end_street').val(street);
      $('#ride_end_city').val(city);
      $('#ride_end_state').val(state);
       $('#ride_end_zip').val(zip);
    });

  <% end %>


<div class="form-row">

    <div class="form-group offset-md-1 col-md-10">
    <%= form.label :end_street %><br>
    <%= form.text_field :end_street,class: "form-control" %>
  </div>

</div>

<div class="form-row">

  <div class="form-group offset-md-1 col-4">
      <%= form.label :end_city %><br>
      <%= form.text_field :end_city,class: "form-control" %>
    </div>

    <div class="form-group col-4">
      <%= form.label :end_state %><br>
      <%= form.text_field :end_state,class: "form-control" %>
    </div>

    <div class="form-group col-2">
      <%= form.label :end_zip %><br>
      <%= form.text_field :end_zip,class: "form-control" %>
    </div>

</div>

  <div class="form-row">
    <div class="form-group  col-md-10 offset-md-1">
    <%= form.label :reason %><br>
    <%= form.text_field :reason,class: "form-control" %>
    <div class = "end_location_checkbox">
      <h6>Save new end location? <%= form.check_box :save_end_location, {}, "saved" or "not saved"  %> </h6>
    </div>
    </div>

  </div>
<% if false %>
  <div class="form-row">
    <div class="form-group  col-md-10 offset-md-1">
    <%= form.label :status %><br>
    <%= form.text_field :status,class: "form-control" %>
    </div>
  </div>
<% end %>
<div class="form-row">
  <div class="form-group col-md-1 offset-md-1">
    <%= link_to 'Back', admin_ride_index_path, class: "btn btn-outline-primary my-2 my-sm-0" %>
  </div>
  <div class="form-group col-md-1 offset-md-8">
    <%= form.submit yield(:button_text), class: "btn btn-outline-success my-2 my-sm-0" %>
  </div>
</div>

<% end %>
</div>
