<% content_for(:body_attributes) do %>
   data-turbolinks="false"
 <% end %>

<div class="locations"></div>

<!-- <div data-turbolinks="false"> -->
<div>
<% if @ride.id %>
  <% url = admin_ride_path(@ride) %>
<% else %>
  <% url = admin_ride_index_path %>
<% end %>
<%= form_with(url: url , model: @ride, local: true) do |form| %>


  <% if @ride.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@ride.errors.count, "error") %> prohibited
        this ride from being saved:
      </h2>
      <ul>
        <% @ride.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-row">
  <div class="form-group offset-md-1 col-8">
    1. <%= form.label :rider_id %><br>
    <%= form.collection_select :rider_id, Rider.where("organization_id =? AND is_active = ?", current_user.organization_id, true), :id, :full_name, { :include_blank => ' ' }, onchange: "getLocations($(this).val())" %>
  </div
</div>


  <div class="form-group offset-md-1 col-4">

    2. <%= form.label :pick_up_time %>
    <%= form.text_field :pick_up_time, id: 'ride_pick_up_time' %>
  </div>

</div>



<div class="form-row">
  <div class="form-group offset-md-1 col-10">
    <div class: "start_location">
      3. <%= label_tag :start_location %>
      <p> Would you like to use previously saved location? <%= form.collection_select "organization_rider_start_location",
        Location.joins(:location_relationships).select("DISTINCT ON (street, city, zip)*").where("organization_id=?", current_user.organization.id).limit(15),
      :address_parsed, :full_address, { :include_blank => ' ' }  %> </p>
    </div>
  </div>
</div>
  <%= javascript_tag do %>
   $('#ride_organization_rider_start_location').on('change', function() {
      var data = JSON.parse(this.value);
      var street = data.street;
      var city = data.city;
      var state = data.state;
      var zip = data.zip
      $('#ride_start_street').val(street);
      $('#ride_start_city').val(city);
      $('#ride_start_state').val(state)
      $('#ride_start_zip').val(zip);
    });

  <% end %>
  <%if @ride.start_location_id.nil? %>
    <%if @start_location.nil? %>
      <% start_street = "" %>
      <% start_city = "" %>
      <% start_state = "" %>
      <% start_zip = "" %>
    <%else %>
      <%start_street = @start_location.street %>
      <%start_city = @start_location.city %>
      <%start_state = @start_location.state %>
      <%start_zip = @start_location.zip %>
    <% end %>
  <% else %>
    <%start_street = @ride.start_location.street %>
    <%start_city = @ride.start_location.city %>
    <%start_state = @ride.start_location.state %>
    <%start_zip = @ride.start_location.zip %>
  <% end %>
<div class="form-row">
  <div class="form-group offset-md-1 col-md-10">
    <%= form.label :start_street, "Street" %>
    <%= form.text_field :start_street, value: start_street, class: "form-control" %>
  </div>
</div>

<!-- </div> -->

<div class="form-row">

    <div class="form-group offset-md-1 col-4">
      <%= form.label :start_city, "City" %>
      <%= form.text_field :start_city, value: start_city,  class: "form-control" %>
    </div>

    <div class="form-group col-4">
      <%= form.label :start_state, "State" %>
      <%= form.text_field :start_state, value: start_state, class: "form-control" %>
    </div>

    <div class="form-group col-2">
      <%= form.label :start_zip, "Zip" %>
      <%= form.text_field :start_zip, value: start_zip, class: "form-control" %>
       <div class= "start_location_checkbox">
         <h6>Save start location? <%= form.check_box :save_start_location, {}, checked_value = "saved", unchecked_value = "not saved" %> </h6>
      </div>
    </div>

</div>

<div class="form-row">
  <div class="form-group offset-md-1 col-10">
    <div class: "start_location">
      4. <%= label_tag :end_location %>
      <p>  Would you like to use previously saved location? <%= form.collection_select "organization_rider_end_location",
       Location.joins(:location_relationships).select("DISTINCT ON (street, city, zip)*").where("organization_id=?", current_user.organization.id).limit(15),
      :address_parsed, :full_address, { :include_blank => ' ' }  %> </p>

    </div>

  </div>
</div>

 <%= javascript_tag do %>
   $('#ride_organization_rider_end_location').on('change', function() {
      var data = JSON.parse(this.value);
      var street = data.street;
      var city = data.city;
      var state = data.state;
      var zip = data.zip;
      $('#ride_end_street').val(street);
      $('#ride_end_city').val(city);
      $('#ride_end_state').val(state);
       $('#ride_end_zip').val(zip);
    });

  <% end %>
  <%if @ride.end_location_id.nil? %>
    <%if @end_location.nil? %>
      <% end_street = "" %>
      <% end_city = "" %>
      <% end_state = "" %>
      <% end_zip = "" %>
    <%else %>
      <%end_street = @end_location.street %>
      <%end_city = @end_location.city %>
      <%end_state = @end_location.state %>
      <%end_zip = @end_location.zip %>
    <% end %>
  <% else %>
    <%end_street = @ride.end_location.street %>
    <%end_city = @ride.end_location.city %>
    <%end_state = @ride.end_location.state %>
    <%end_zip = @ride.end_location.zip %>
  <% end %>

<div class="form-row">
  <div class="form-group offset-md-1 col-md-10">
    <%= form.label :end_street, "Street" %>
    <%= form.text_field :end_street, value: end_street, class: "form-control" %>
  </div>
</div>

<div class="form-row">
  <div class="form-group offset-md-1 col-4">
      <%= form.label :end_city, "City" %>
      <%= form.text_field :end_city, value: end_city, class: "form-control" %>
    </div>

    <div class="form-group col-4">
      <%= form.label :end_state, "State" %>
      <%= form.text_field :end_state,  value: end_state, class: "form-control" %>
    </div>

    <div class="form-group col-2">
      <%= form.label :end_zip, "Zip" %>
      <%= form.text_field :end_zip, value: end_zip, class: "form-control" %>
       <div class = "end_location_checkbox">
         <h6>Save end location? <%= form.check_box :save_end_location, {}, checked_value = "saved", unchecked_value = "not saved" %></h6>
       </div>
    </div>
</div>

  <div class="form-row">
    <div class="form-group  col-md-10 offset-md-1">
    5. <%= form.label :reason %>
       <%= form.text_field :reason,class: "form-control" %>
    </div>
  </div>
<% if false %>
  <div class="form-row">
    <div class="form-group  col-md-10 offset-md-1">
    <%= form.label :status %><br>
    <%= form.text_field :status,class: "form-control" %>
    </div>
  </div>
<% end %>


<div class="form-row">
  <div class="form-group  col-md-10 offset-md-1">
  6. <%= form.label :round_trip %>
     <%= form.check_box :round_trip, {}, true, false %>
  </div>
</div>


<div class="form-group offset-md-1 col-4">
  <div id="return_time" style="display: none" class="form-group  col-md-10 offset-md-1">
    <%= form.label :return_pick_up_time %>
    <%= form.text_field :return_pick_up_time, id: 'ride_return_pick_up_time' %>
  </div>
</div>

<div class="form-row">
  <div id="show_dep" style="display: none" class="form-group  col-md-10 offset-md-1">
    7. <%= form.label :expected_wait_time %>
       <%= form.select :expected_wait_time, options_for_select([["", ""], ["30 mins", "30"],["45 mins", "45"], ["1.0 hour", "60"], ["1.5 hours", "90"],["2.0 hours", "120"], ["2.5 hours", "150"], ["3.0 hours", "180"]], "#{@ride.expected_wait_time}"), class: "form-control" %>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-1 offset-md-1">
    <%= link_to 'Back', :back, class: "btn btn-outline-primary" %>
  </div>
  <div class="form-group col-md-1 offset-md-8">
    <%= form.submit yield(:button_text), class: "btn btn-outline-success" %>
  </div>
</div>

<% end %>
</div>

<script type="text/javascript">
  // calender for pick_up_time
  const el = document.getElementById('ride_pick_up_time');
  flatpickr(el, {
    enableTime:      true,
    altInput:        true,
    minDate:         "today",
    altFormat:       "F j, Y at h:i K",
    dateFormat:      "Y-m-d H:i",
    defaultHour:     23,
    defaultMinute:   59,
    minuteIncrement: 1
  });

  const ele = document.getElementById('ride_return_pick_up_time');
  flatpickr(ele, {
    enableTime:      true,
    altInput:        true,
    minDate:         "today",
    altFormat:       "F j, Y at h:i K",
    dateFormat:      "Y-m-d H:i",
    defaultHour:     23,
    defaultMinute:   59,
    minuteIncrement: 1
  });






  // conditional expected_wait_time
  jQuery(function () {
      $("#ride_round_trip").change(function () {
          if ($(this).val() == "false") {
              $("#show_dep").hide();
              $("#return_time").hide();
          } else {
              $("#show_dep").show();
              $("#return_time").show();
          }
      });
  });
</script>
