<div class="container"><br>

  <!-- <h1 style="text-align: center">Rides</h1> -->

<table class="table table-bordered table-hover contains-times">
  <tr>
    <th scope="col"><%= sort_link @query, :rider_first_name, "Rider", default_order: :desc %></th>
    <th scope="col"><%= sort_link @query, :driver, default_order: :desc %></th>
    <th scope="col"><%= sort_link @query, :pick_up_time, default_order: :desc %></th>
    <th scope="col"><%= sort_link @query, :reason, default_order: :desc %></th>
    <th scope="col" class="row-height">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Status
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to 'Pending', admin_ride_index_path(status: "pending") %>
        <%= link_to 'Approved', admin_ride_index_path(status: "approved") %>
        <%= link_to 'Scheduled', admin_ride_index_path(status: "scheduled") %>
        <%= link_to 'Picking Up', admin_ride_index_path(status: "picking-up") %>
        <%= link_to 'Dropping Off', admin_ride_index_path(status: "dropping-off") %>
        <%= link_to 'Waiting', admin_ride_index_path(status: "waiting") %>
        <%= link_to 'Return Picking Up', admin_ride_index_path(status: "return-picking-up") %>
        <%= link_to 'Return Dropping Off', admin_ride_index_path(status: "return-dropping-off") %>
        <%= link_to 'Completed', admin_ride_index_path(status: "completed") %>
        <%= link_to 'Canceled', admin_ride_index_path(status: "canceled") %>
      </div>
    </th>
    <th scope="col" class="ride_box_width"></th>
  </tr>
  <% @search.each do |ride| %>
    <% if ride.organization_id==current_user.organization_id%>
      <tr class='clickable-row', data-href='<%=admin_ride_path(ride)%>'>
        <td class="no-wrap"><%= ride.rider.full_name %></td>
        <td class="no-wrap"><%= ride.driver&.full_name %></td>
        <td class="no-wrap local-time"><%= ride.pick_up_time.to_s %></td>
        <td><%= ride.reason %></td>
        <td><%= ride.status %></td>
        <td>
          <% if ride.status == 'pending' %>
            <%= link_to edit_admin_ride_path(ride), class: "btn btn-sm btn-outline-success" do %>
              <i class="fa fa-pencil-square-o">Edit</i>
            <% end %>

              <%= link_to cancel_admin_ride_path(ride), class: "btn btn-sm btn-outline-warning", method: :put do %>
                <i class="fa fa-ban">Cancel</i>
              <% end %>

              <%= link_to approve_admin_ride_path(ride), class: "btn btn-sm btn-outline-info", method: :put do %>
                <i class="fa fa-thumbs-up">Approve</i>
              <% end %>
            <% elsif ['approved', 'scheduled'].include? ride.status %>
              <%= link_to edit_admin_ride_path(ride), class: "btn btn-sm btn-outline-success" do %>
                <i class="fa fa-pencil-square-o">Edit</i>
              <% end %>

              <%= link_to review_admin_ride_path(ride), class: "btn btn-sm btn-outline-warning", method: :get do %>
                <i class="fa fa-ban">Cancel</i>

            <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <%= link_to new_admin_ride_path, class: "btn btn-success new-btn" do %>
    <i class="fa fa-plus"> New Ride</i>
  <% end %><br/><br/>
  <%= paginate @search %>

</div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
          window.location = $(this).data("href");
      });
      const table = document.querySelector('.contains-times');
      const timeCells = table.querySelectorAll('* .local-time');
      for (let i = 0;i < timeCells.length; i += 1) {
        let timeEntry = timeCells[i].innerHTML.split(" UTC")[0];
        timeEntry = new moment.utc(timeEntry).local();
        timeCells[i].innerHTML=timeEntry.format("LLL");
      }

  });
</script>
