<div class="container">

<h1 style="text-align: center">List of All Rides</h1>
<%= paginate @rides %>

<table class="table table-striped">
  <tr class="border-bot">
    <th scope="col">Rider</th>
    <th scope="col">Driver</th>
    <th scope="col">Pick Up Time</th>
    <th scope="col">Reason</th>
    <th scope="col">Status</th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>

  <% @rides.each do |ride| %>
    <% if ride.organization_id==current_user.organization_id%>
    <tr>
      <td><%= ride.rider.full_name %></td>
      <td><%= ride.driver&.full_name %></td>
      <td><%= ride.pick_up_time.strftime("%b %d, %Y %I:%M %p")  %></td>
      <td><%= ride.reason %></td>
      <td><%= ride.status %></td>
      <td><%= link_to 'Edit', edit_admin_ride_path(ride) %></td>
      <% if ride.status == 'approved' %>
        <td><%= link_to 'Approve', "#", class: "btn btn-sm btn-success disabled"%></td>
      <% else %>
        <td><%= link_to 'Approve', approve_admin_ride_path(ride), class: "btn btn-sm btn-success", method: :put%></td>
      <% end %>
      <% if ride.status == 'rejected' %>
        <td><%= link_to 'Reject', "#", class: "btn btn-sm btn-success disabled" %></td>
      <% else %>
        <td><%= link_to 'Reject', reject_admin_ride_path(ride), class: "btn btn-sm btn-success", method: :put %></td>
      <% end %>
    </tr>
    <% end %>
  <% end %>
</table>

<%= paginate @rides %>
<%= link_to 'Back', welcome_index_path, class: "btn btn-outline-primary my-2 my-sm-0" %>
<%= link_to 'New Ride', new_admin_ride_path, class: "btn btn-outline-info my-2 my-sm-0" %>

</div>

