<div class="container">

<h1 style="text-align: center">Rides</h1>

<table class="table table-striped">
  <tr class="border-bot">
    <th scope="col">Rider</th>
    <th scope="col">Driver</th>
    <th scope="col">Pick Up Time</th>
    <th scope="col">Reason</th>
    <th scope="col">
      <a id="status" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Status
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to 'Pending', admin_ride_index_path(status: "pending") %>
        <%= link_to 'Approved', admin_ride_index_path(status: "approved") %>
        <%= link_to 'Canceled', admin_ride_index_path(status: "canceled") %>
        <%= link_to 'Scheduled', admin_ride_index_path(status: "scheduled") %>
        <%= link_to 'Picking Up', admin_ride_index_path(status: "picking-up") %>
        <%= link_to 'Dropping Off', admin_ride_index_path(status: "dropping-off") %>
        <%= link_to 'Completed', admin_ride_index_path(status: "completed") %>
      </div>
    </th>
    <th scope="col"></th>
  </tr>

  <% @rides.each do |ride| %>
    <% if ride.organization_id==current_user.organization_id%>
      <tr>
        <td class="no-wrap"><%= link_to ride.rider.full_name, admin_ride_path(ride) %></td>
        <td class="no-wrap"><%= ride.driver&.full_name %></td>
        <td class="no-wrap"><%= ride.pick_up_time.strftime("%b %d, %Y %I:%M %p")  %></td>
        <td><%= ride.reason %></td>
        <td><%= ride.status %></td>
        <td class="my-buttons">
          <% if ride.status == 'pending' %>
            <%= link_to edit_admin_ride_path(ride), class: "btn btn-sm btn-success" do %>
              <i class="fa fa-pencil-square-o">Edit</i>
            <% end %>

            <%= link_to cancel_admin_ride_path(ride), class: "btn btn-sm btn-warning", method: :put do %>
              <i class="fa fa-ban">Cancel</i>
            <% end %>

            <%= link_to approve_admin_ride_path(ride), class: "btn btn-sm btn-info", method: :put do %>
              <i class="fa fa-thumbs-up">Approve</i>
            <% end %>
          <% elsif ['approved', 'scheduled'].include? ride.status %>
            <%= link_to edit_admin_ride_path(ride), class: "btn btn-sm btn-success" do %>
              <i class="fa fa-pencil-square-o">Edit</i>
            <% end %>

            <%= link_to cancel_admin_ride_path(ride), class: "btn btn-sm btn-warning", method: :put do %>
              <i class="fa fa-ban">Cancel</i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= paginate @rides %>
<%= link_to 'Back', welcome_index_path, class: "btn btn-primary" %>
<%= link_to 'New Ride', new_admin_ride_path, class: "btn btn-info" %>

</div>
