<div class="container">


<h4>LISTING RIDES</h4>

<%= link_to 'New Ride', new_admin_ride_path, class:"btn btn-primary" %>
<table class="table table-striped">
  <tr>
    <th scope="col">Rider</th>
    <th scope="col">Driver</th>
    <th scope="col">Pick Up Time</th>
    <th scope="col">Reason</th>
    <th scope="col">Status</th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>

  <% @rides.each do |ride| %>
    <% if ride.organization_id==current_user.organization_id%>
    <tr>
      <td><%= ride.rider.full_name unless ride.rider.nil?%></td>
      <td><%= ride.driver.full_name unless ride.driver.nil?%></td>
      <td><%= ride.pick_up_time %></td>
      <td><%= ride.reason %></td>
      <td><%= ride.status %></td>
      <td><%= link_to 'Edit', edit_admin_ride_path(ride) %></td>
      <% if ride.status == 'approved' %>
        <td><%= link_to 'Approve', "#", class: "btn btn-sm btn-success disabled"%></td>
      <% else %>
        <td><%= link_to 'Approve', approve_admin_ride_path(ride), class: "btn btn-sm btn-success", method: :put%></td>
      <% end %>
      <% if ride.status == 'rejected' %>
        <td><%= link_to 'Reject', "#", class: "btn btn-sm btn-success disabled" %></td>
      <% else %>
        <td><%= link_to 'Reject', reject_admin_ride_path(ride), class: "btn btn-sm btn-success", method: :put %></td>
      <% end %>
    </tr>
    <% end %>
  <% end %>
</table>

<%= link_to 'Back', welcome_index_path, class:"btn btn-danger" %>

</div>

