<h1>Ride</h1>

<p>
  <strong>Ride ID:</strong>
  <%= @ride.id %>
</p>


<p>
  <strong>Rider ID:</strong>
  <%= @ride.rider_id %>
</p>

<p>
  <strong>Driver ID:</strong>
  <%= @ride.driver_id %>
</p>


<p>
  <strong>Pick Up Time:</strong>
  <%= @ride.pick_up_time %>
</p>

<p>
  <strong>Start Address:</strong>
  <%= @ride.start_location.full_address %>
</p>

<p>
  <strong>End Address:</strong>
  <%= @ride.end_location.full_address %>
</p>


<p>
  <strong>Ride Reason:</strong>
  <%= @ride.reason %>
</p>

<p>
  <strong>Ride Status:</strong>
  <%= @ride.status %>
</p>



<%= link_to 'Edit', edit_admin_ride_path(@ride) %> |
<%= link_to 'Back', admin_ride_index_path %>
