<div class="container"><br>
  <!-- <h1>Tokens</h1> -->

  <table class="table table-striped">
    <tr class="border-bot">
      <th scope="col">Rider</th>
      <th scope="col">Created at</th>
      <th scope="col">Expiration</th>
      <th scope="col">Used at</th>
      <th scope="col">Validity</th>
    </tr>

    <% @tokens.each do |token| %>
      <% if token.rider.organization_id==current_user.organization_id %>
        <tr>
          <td scope="row"><%= token.rider.full_name %></td>
          <td><%= token.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%b %d, %Y %I:%M %p") unless token.created_at.nil? %></td>
          <td><%= token.expires_at.in_time_zone("Eastern Time (US & Canada)").strftime("%b %d, %Y %I:%M %p") unless token.expires_at.nil? %></td>
          <td><%= token.used_at.in_time_zone("Eastern Time (US & Canada)").strftime("%b %d, %Y %I:%M %p") unless token.used_at.nil? %></td>
          <td><%= t token.is_valid.class %></td>
        </tr>
      <% end %>
    <% end %>
  </table>


  <!-- <link_to edit_rider_path(@rider), class: "btn btn-success new-btn" do %>
    <i class="fa fa-plus"> New Token</i>
  < end %><br/><br/> -->
  <%= paginate @tokens %>
</div>
