<% if current_user.organization.use_rider_app %>
  <div class="container"><br>
    <h5><strong>PENDING RIDES</strong></h5>
    <table class="table table-bordered table-hover contains-times">
      <tr class="border-bot">
        <th scope="col">Rider </th>
        <th scope="col">Driver </th>
        <th scope="col">Pick Up Time </th>
        <th scope="col">Action</th>
      </tr>

      <% @rides.each do |ride| %>
        <tr class="clickable-row" data-href='<%= admin_ride_path(ride) %>'>
          <td class="no-wrap"><%= ride.rider&.full_name %> </td>
          <td class="no-wrap"><%= ride.driver&.full_name %> </td>
          <td class="no-wrap local-time"><%= ride.pick_up_time %></td>
          <td><%= link_to "Approve", approve_admin_ride_path(ride), method: :put  %> |
            <%= link_to "Cancel", review_admin_ride_path(ride), method: :get  %>  </td>
        </tr>
      <% end %>
    </table>
    <%= paginate(@rides) %>
  </div>
<% end %>

<div class="container"><br>
  <h5><strong>APPROVED RIDES</strong></h5>
  <table class="table table-bordered table-hover contains-ties">
    <tr class="border-bot">
      <th scope="col">Rider </th>
      <th scope="col">Driver </th>
      <th scope="col">Pick Up Time </th>
      <th scope="col">Action</th>
    </tr>
    <% @approved_rides.each do |ride| %>
      <tr class="clickable-row" data-href='<%= admin_ride_path(ride) %>'>
        <td class="no-wrap"><%= ride.rider&.full_name %> </td>
        <td class="no-wrap"><%= ride.driver&.full_name %> </td>
        <td class="no-wrap"><%= ride.pick_up_time.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p") %></td>
        <td><%= link_to "Cancel", review_admin_ride_path(ride), method: :get %></td>
      </tr>
    <% end %>
  </table>
  <%= paginate(@rides) %>
</div>

<div class="container">
  <h5><strong>COMPLETED RIDES</strong></h5>
  <table class="table table-bordered table-hover">
    <tr class="border-bot">
      <th scope="col">Rides completed this year</th>
      <td><%= @rides_completed_this_year %></td>
      </tr>
    <tr class="border-bot">
      <th scope="col">Rides completed Today</th>
      <td><%= @rides_completed_today %></td>
    </tr>
  </table>
</div>


<div class="container"><br>
  <h5> <strong>PENDING DRIVERS</strong></h5>
  <table class="table table-bordered table-hover">
    <tr style="background-color: #00bcd4;">
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
    </tr>
    <% @drivers.each do |driver| %>
      <% if driver.organization_id == current_user.organization_id%>
        <tr class="clickable-row", data-href='<%= admin_driver_path(driver) %>'>
          <td><%= driver.first_name %></td>
          <td><%= driver.last_name %></td>
          <td><%= number_to_phone(driver.phone) %></td>
          <td><%= driver.email %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <%= paginate(@drivers) %>
</div>


<script type="text/javascript">
  jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
          window.location = $(this).data("href");
      });
      const table = document.querySelector('.contains-times');
      const timeCells = table.querySelectorAll('* .local-time');
      for (let i = 0;i < timeCells.length; i += 1) {
        let timeEntry = timeCells[i].innerHTML.split(" UTC")[0];
        timeEntry = new moment.utc(timeEntry).local();
        timeCells[i].innerHTML=timeEntry.format("LLL");
      }
  });
</script>
