<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<h1>FRUBER</h1>

<%= link_to "Admin Login", new_user_session_path, :class => 'btn btn-danger', id: "admin-login" %>

<%= link_to "Rider Login", new_rider_session_path, :class => 'btn btn-danger', id: "rider-login" %>
</body>
</html>
