<% if controller.action_name == 'new'  || controller.action_name == 'create' %>
  <%url = admin_driver_vehicles_path(driver_id: @driver) %>
<% else %>
  <%url = admin_vehicle_path(id: @vehicle) %>
<% end %>

<%= form_with(model: [@driver,@vehicle], url: url, local: true)  do  |form| %>

  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@vehicle.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @vehicle.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class ='row'>
    <div class="form-group offset-md-1 col-md-5 ">
      <%= form.label :image %><br>
      <%= form.file_field :image  %>
    </div>
  </div>

  <div class="row">

    <div class="form-group offset-md-1 col-md-5 ">
      <%= form.label :car_make %><br>
      <%= form.text_field :car_make,class: "form-control" %>
    </div >

    <div class="form-group col-md-5">
      <%= form.label :car_model %><br>
      <%= form.text_field :car_model,class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group offset-md-1 col-md-5">
      <%= form.label :car_year %><br>
      <%= form.select :car_year,options_for_select(((Date.today.year-30)..Date.today.year+1).to_a.reverse,selected: @vehicle.car_year),class: "form-control" %>
    </div>

    <div class="form-group col-md-5">
      <%= form.label :car_state %><br>
      <%= form.select :car_state, options_for_select(us_states, selected: @vehicle.car_state), {}, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group offset-md-1 col-md-5">
      <%= form.label :car_plate %><br>
      <%= form.text_field :car_plate,class: "form-control" %>
    </div>
    <div class="form-group col-md-5">
      <%= form.label :car_color %><br>
      <%= form.text_field :car_color,class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group offset-md-1 col-md-5">
      <%= form.label :insurance_provider %><br>
      <%= form.text_field :insurance_provider,class: "form-control" %>
    </div>

    <div class="form-group col-md-5">
      <%= form.label :seat_belt_num, "Number of Seat Belts" %><br>
      <%= form.select :seat_belt_num,options_for_select((2..10).step(1),selected: @vehicle.seat_belt_num),class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group offset-md-1 col-md-5">
      <%= form.label :insurance_start %><br>
      <%= form.date_select :insurance_start,
       order: [:month,:day,:year],class: "form-control" %>
    </div>

    <div class="form-group col-md-5">
      <%= form.label :insurance_stop %><br>
      <%= form.date_select :insurance_stop,
       order: [:month,:day,:year],class: "form-control" %>
    </div>
  </div>







  <div class="row">
    <div  class="form-group col-md-1 offset-md-1">
      <%= link_to 'Back', admin_driver_path(@driver.id), class:"btn btn-primary" %>
    </div>
    <div  class="form-group col-md-1 offset-md-7">
      <%= form.submit class:"btn btn-primary" %>
    </div>
  </div>

<% end %>
