<p>
  Hi <%= @driver.first_name %>,
</p>

<p>
Thank you for volunteering with <%= @org.name %> ride sharing.
The following rides have been requested but don't have drivers yet.  Would you
be willing to sign up for one of these rides?
</p>
<% @rides.each do |ride| %>
<p>
Pick up time: <%= ride.pick_up_time.strftime("%A, %B %d, %l:%M %p") %><br>
Pick up location: <%= ride.start_location.full_address %><br>
Destination location: <%= ride.end_location.full_address %><br>
</p>
<% end %>
