<div class="container" style="margin-top: 20px;">
  <div class="card3">
    <h3 class="bg-primary rounded pl-2 headings">
      <i class="fa fa-address-card"> Driver Information</i>
      <% if @driver.is_active %>
        <%= link_to admin_driver_activation_path(@driver), class: "btn btn-sm btn-danger", id: "driver-activation", method: :put, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-power-off"> Deactivate</i>
        <% end %>
      <% else %>
        <%= link_to admin_driver_activation_path(@driver), class: "btn btn-sm btn-success", id: "driver-activation", method: :put, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-power-off"> Reactivate</i>
        <% end %>
      <% end %>
    </h3>
    <%= render 'driver_info' %>
  </div>

  <div class="card3">
    <h3 class="bg-primary rounded pl-2 headings"><i class="fa fa-car"> Cars</i></h3>
    <%= render 'cars' %>
  </div>

  <div class="card3">
    <h3 class="bg-primary rounded pl-2 headings"><i class="fa fa-calendar"> Agenda</i></h3>
    <%= render 'agenda' %>
  </div>

  <div class="card3">
    <h3 class="bg-primary rounded pl-2 headings"><i class="fa fa-map-marker"> Locations</i></h3>
    <%= render 'locations' %><br>
  </div>
  <%= link_to 'Back', admin_drivers_path, class: "btn btn-primary" %>
</div>
