<div class="ml-5">
  <div class="row">
    <div class="col-md border-top border-bottom">
      <strong>First name:</strong>
      <%= @rider.first_name %>
    </div>

    <div class="col-md border-top border-bottom">
      <strong>Last name:</strong>
      <%= @rider.last_name %>
    </div>
  </div>
  <div class="row">
    <div class="col-md border-top border-bottom">
      <strong>Phone:</strong>
      <%= number_to_phone(@rider.phone) %>
    </div>
    <div class="col-md border-top border-bottom">
        <strong>Email:</strong>
        <%= @rider.email %>
    </div>
  </div>
  <div class="row">
    <div class="col-md border-top border-bottom">
      <strong>Organization:</strong>
      <%= @rider.organization.name %>
    </div>
    <div class="col-md border-top border-bottom">
      <strong>Active:</strong>
      <%= driver_active_inactive(@rider.is_active) %>
    </div>
  </div>
  <div class="driver-show-page-buttons">
    <%= link_to 'Edit', edit_rider_path(@rider), class:"btn btn-sm btn-outline-info"%>
  </div>
</div>
