<div class="container"><br>
  <table class="table table-bordered table-hover">
    <tr style="line-height: 28px;">
      <th scope="col">First name</th>
      <th scope="col" class="rowBox">Last name <span id="flex-box"><%= link_to riders_path, class: "links" do %>
                                                         <%= fa_icon "sort-up" %>
                                                       <% end %>
                                                       <%= link_to sort_down_path, class: "links" do %>
                                                         <%= fa_icon "sort-down"%>
                                                       <% end %></span></th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
    </tr>

    <% @riders.each do |rider| %>
        <tr class="clickable-row", data-href='<%= rider_path(rider) %>'>
          <td><%= rider.first_name %></td>
          <td><%= rider.last_name %></td>
          <td><%= number_to_phone(rider.phone) %></td>
          <td><%= rider.email %></td>
        </tr>
    <% end %>
  </table>

  <%= paginate @riders %>
  <%= link_to new_rider_path, class: "btn btn-success new-btn" do %>
    <i class="fa fa-plus"> New Rider</i>
  <% end %>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
          window.location = $(this).data("href");
      });
  });
</script>
