<div class="container"><br>
  <table class="table table-bordered table-hover">
    <tr style="line-height: 28px;">
      <th scope="col"><%= sort_link @sort, :first_name, default_order: :desc %></th>
      <th scope="col" class="rowBox"> <%= sort_link @sort, :last_name, default_order: :desc %> </th>
      <th scope="col"><%= sort_link @sort, :phone, default_order: :desc %></th>
      <th scope="col"><%= sort_link @sort, :email, default_order: :desc %></th>
    </tr>

    <% @search.each do |rider| %>
        <tr class="clickable-row", data-href='<%= rider_path(rider) %>'>
          <td><%= rider.first_name %></td>
          <td><%= rider.last_name %></td>
          <td><%= number_to_phone(rider.phone) %></td>
          <td><%= rider.email %></td>
        </tr>
    <% end %>
  </table>

  <%= link_to new_rider_path, class: "btn btn-success new-btn" do %>
    <i class="fa fa-plus"> New Rider</i>
  <% end %><br/><br/>
  <%= paginate @search %>

</div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
          window.location = $(this).data("href");
      });
  });
</script>
