<div class="container">

<h1>Riders</h1>
<%= paginate @riders %>

<table class="table table-striped">
  <tr>
    <th scope="col">First name</th>
    <th scope="col" class="last_name_sort">Last name <%= fa_icon "sort-up" %><%= fa_icon "sort-down"%></th>
    <th scope="col">Phone</th>
    <th scope="col">Email</th>
    <th scope="col"></th>
  </tr>

  <% @riders.each do |rider| %>
      <tr>
        <td><%= rider.first_name %></td>
        <td><%= rider.last_name %></td>
        <td><%= rider.phone %></td>
        <td><%= rider.email %></td>
        <td><%= link_to 'Edit', edit_rider_path(rider) %></td>
      </tr>
  <% end %>
</table>

<%= paginate @riders %>
<%= link_to 'Back', welcome_index_path %> |
<%= link_to 'New Rider', new_rider_path %>

