<div class="container">

<h4>LISTING RIDERS</h4>

<%= link_to 'New Rider', new_rider_path, class:"btn btn-primary" %>
<table class="table table-striped">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Phone</th>
    <th scope="col">Email</th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>

  <% @riders.each do |rider| %>
    <% if rider.organization == current_user.organization %>
      <tr>
        <td><%= rider.full_name %></td>
        <td><%= rider.phone %></td>
        <td><%= rider.email %></td>
        <td><%= link_to 'Show', rider_path(rider) %></td>
        <td><%= link_to 'Edit', edit_rider_path(rider) %></td>
        <td><%= link_to 'Delete', rider_path(rider),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= link_to 'Back', welcome_index_path, class:"btn btn-danger" %>
