<div class="container" style="margin-top: 35px;">
  <h4 class="green">Personal Information
    <% if @rider.is_active %>
      <%= link_to rider_activation_path(@rider), class: "btn btn-sm btn-danger", method: :put, data: { confirm: 'Are you sure?' } do %>
        <i class="fa fa-power-off">Deactivate</i>
      <% end %>
    <% else %>
      <%= link_to rider_activation_path(@rider), class: "btn btn-sm btn-success", method: :put, data: { confirm: 'Are you sure?' } do %>
        <i class="fa fa-power-off">Reactivate</i>
      <% end %>
    <% end %>
  </h4>
  <div class="card5 mb-3">
    <div class="row no-gutters">
      <div class="col-md col-md-offset-2">
        <p><strong>Name:</strong> <%= @rider.full_name %></p>
        <p><strong>Phone:</strong> <%= @rider.phone %></p>
        <p><strong>Email:</strong> <%= @rider.email %></p>
        <p><strong>Valid Tokens:</strong> <%= @rider.valid_tokens_count %></p>
        <p><strong>Organization:</strong> <%= @rider.organization.name %></p>
      </div>
    </div>
  </div><br/>

  <h4 class="green">Locations</h4>
  <div class="card5 mb-3">
    <div class="row no-gutters">
      <div class="col-md col-md-offset-2">
        <% @locations.each do |location| %>
          <p><%= location.full_address %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= link_to 'Edit', edit_rider_path(@rider), class: "btn btn-outline-primary" %>
  <%= link_to 'Back', riders_path, class: "btn btn-outline-success" %>
</div>
