<div class="container" style="margin-top: 20px;">
  <div class="card3">
    <h3 class="bg-primary rounded pl-2 headings">
      <i class="fa fa-address-card"> Rider Information</i>
      <% if @rider.is_active %>
        <%= link_to rider_activation_path(@rider), class: "btn btn-sm btn-danger", id: "rider-activation", method: :put, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-power-off"> Deactivate</i>
        <% end %>
      <% else %>
        <%= link_to rider_activation_path(@rider), class: "btn btn-sm btn-success", id: "rider-activation", method: :put, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-power-off"> Reactivate</i>
        <% end %>
      <% end %>
    </h3>
    <%= render 'rider_info' %><br/>
  </div>

  <div class="card3">
    <h3 class="bg-primary rounded pl-2 headings">
      <i class="fa fa-taxi"> Rides</i>
    </h3>
    <%= render 'rider_rides' %><br/>

  </div>

  <div class="card3">
    <h3 class="bg-primary rounded pl-2 headings"><i class="fa fa-map-marker"> Locations</i></h3>
    <div class="col-md col-md-offset-2">

      <% @locations.each do |location| %>
        <p><%= location.full_address %></p>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <%= link_to 'Back', riders_path, class: "btn btn-primary" %>
  <%= link_to 'Edit', edit_rider_path(@rider), class: "btn btn-success" %>
</div>
