<div class="schedules">

  <% @agenda.each do |agenda| %>
  <div class="row">
      <%= (agenda[0] - 1.day).strftime("%B %d")%> - <%= (agenda[0] + 5.days).strftime("%B %d")%>
  </div>
      <div class="agenda">
        <div class="day-and-date">
          <%= Date.parse(agenda[1][0][:startTime]).strftime("%A") %>
          <%= Date.parse(agenda[1][0][:startTime]).strftime("%d") %>
        </div>
        <div class="time-and-location">
            <div><%= Date.parse(agenda[1][0][:startTime]).strftime("%I:%M %P") %> - <%= Date.parse(agenda[1][0][:startTime]).strftime("%I:%M %P") %></div>
            <div><%= agenda[1][0][:location].full_address %></div>
        </div>
      </div>
  <% end %>

</div>
