<div class="ml-5">
  <div class="row">
    <div class="col-md border-top border-bottom">
      <strong>First Name:</strong>
      <%= @driver.first_name %>
    </div>

    <div class="col-md border-top border-bottom">
      <strong>Last Name:</strong>
      <%= @driver.last_name %>
    </div>
  </div>
  <div class="row">
    <div class="col-md border-top border-bottom">
      <strong>Phone:</strong>
      <%= number_to_phone(@driver.phone) %>
    </div>
    <div class="col-md border-top border-bottom">
      <strong>Email:</strong>
      <%= @driver.email %>
    </div>
  </div>
  <div class="row">
    <div class="col-md border-top border-bottom">
      <strong>Radius:</strong>
      <%= @driver.radius %>
    </div>
    <div class="col-md border-top border-bottom">
      <strong>Active:</strong>
      <%= driver_active_inactive(@driver.is_active) %>
    </div>
  </div>

  <div class="row">
    <div class="col-md border-top border-bottom">

      <strong>Background Check:</strong>

      <!-- The following background check code is temporarily commented out because is not yet functioning properly. -->

      <% if true %>
        <mark><%= pass_fail(@driver.background_check) %></mark>
        <% if !@driver.background_check? %>
          <%= link_to "Pass", driver_pass_path(@driver), method: :put, data: { confirm: "Did the driver pass the background check?" }, class: "btn btn-sm btn-outline-success" %>
        <% else %>
          <%= link_to "Fail", driver_fail_path(@driver), method: :put, data: { confirm: "Did the driver fail the background check?" }, class: "btn btn-sm btn-outline-danger" %>
        <% end %>
      </div>
      <div class="col-md border-top border-bottom">

        <strong>Application Status:</strong>
        <mark><%= @driver.application_state %></mark>

        <%if @driver.application_state != "accepted"%>

          <%= link_to "Accept",driver_accept_path(@driver),method: :put, data: { confirm: 'Are you sure you want to approve the application?' }, class: "btn btn-sm btn-outline-success" %>
        <% end %>

        <% if @driver.application_state != "rejected"%>
          <%= link_to "Reject",driver_reject_path(@driver),method: :put, data: { confirm: 'Are you sure you want to reject the application?' }, class: "btn btn-sm btn-outline-warning" %>
        <% end %>
      <% end %>

    </div>
  </div>
  <div class="driver-show-page-buttons">
    <%= link_to 'Edit Driver', edit_driver_path(@driver), class:"btn btn-sm btn-outline-info"%>
  </div>
</div>
