<section class="container-fluid" id="section3">
  <div class="flex-row row">
    <% @vehicles.each do |vehicle| %>
      <div class="col-xs-12 col-sm-6 col-lg-4 col-md-6 card">
        <div class="col-xs-12 well well-sm well-vehicle">
          <div class="card_title">
            <p class="lead vehicle-name">
              <b><%= vehicle.car_year%> <%= vehicle.car_make%> <%= vehicle.car_model%></b>
            </p>
          </div>
          <div>
            <address>
              <strong>Color:</strong> <%= vehicle.car_color %><br>
              <strong>License plate:</strong> <%= vehicle.car_plate %><br>
              <strong>Number of seat belts:</strong> <%= vehicle.seat_belt_num %><br>
              <strong>Insurance:</strong> <%= vehicle.insurance_provider %><br>
              <strong>Insurance start:</strong> <%= vehicle.insurance_start.strftime("%B %d, %Y")  %><br>
              <strong>Insurance stop:</strong> <%= vehicle.insurance_stop.strftime("%B %d, %Y")  %><br>
              <%= link_to "Edit", edit_vehicle_path(vehicle), class: "btn btn-sm btn-outline-primary" %>
              <%= link_to "Delete", vehicle_path(vehicle), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-sm btn-outline-danger"%>
            </address>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
