<div class="container">

  <h1 style="text-align: center">Drivers</h1>

  <table class="table table-striped">
    <tr class="border-bot">
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">
        <a id="status" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Application status
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Pending', drivers_path(application_state: "pending") if current_user.organization.drivers.pending.count > 0 %>
          <%= link_to 'Accepted', drivers_path(application_state: "accepted") if current_user.organization.drivers.accepted.count > 0%>
          <%= link_to 'Rejected', drivers_path(application_state: "rejected") if current_user.organization.drivers.rejected.count > 0%>
        </div>
      </th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>

    <% @drivers.each do |driver| %>
      <% if driver.organization_id == current_user.organization_id%>
        <tr>
          <td><%= driver.first_name %></td>
          <td><%= driver.last_name %></td>
          <td><%= driver.phone %></td>
          <td><%= driver.email %></td>
          <td><%= driver.application_state %></td>
          <td>
            <%= link_to edit_driver_path(driver), class: "btn btn-sm btn-success" do %>
              <i class="fa fa-pencil-square-o">Edit</i>
            <% end %>
          </td>
          <td>
            <%= link_to driver_path(driver), class: "btn btn-sm btn-info" do %>
              <i class="fa fa-check-square">Review</i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <%= paginate @drivers %>
  <%= link_to 'Back', welcome_index_path, class: "btn btn-outline-primary my-2 my-sm-0" %>
  <%= link_to 'New Driver', new_driver_path, class: "btn btn-outline-info my-2 my-sm-0" %>
</div>
