<div class="container">

  <h1 style="text-align: center">List of All Drivers</h1>
  <%= paginate @drivers %>

  <div class="mb-3">
    <%= link_to 'All Applications', drivers_path, class:"btn btn-primary" %> |
    <%= link_to 'Pending Applications', drivers_path(application_state: "pending"), class:"btn btn-primary" %> |
    <%= link_to 'Approved Applications', drivers_path(application_state: "approved"), class:"btn btn-primary" %>
  </div>

  <table class="table table-striped">
    <tr class="border-bot">
      <th scope="col">First name</th>
      <th scope="col" class="rowBox">Last name <span id="flex-box"><%= link_to drivers_path, class: "links" do %>
                                                           <%= fa_icon "sort-up" %>
                                                       <% end %>
                                                       <%= link_to ascending_sort_path, class: "links" do %>
                                                           <%= fa_icon "sort-down"%>
                                                       <% end %></span></th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Application State</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>

    <% @drivers.each do |driver| %>
      <% if driver.organization_id == current_user.organization_id%>
        <tr>
          <td><%= driver.first_name %></td>
          <td><%= driver.last_name %></td>
          <td><%= driver.phone %></td>
          <td><%= driver.email %></td>
          <td><%= driver.application_state %></td>
          <td><%= link_to 'Review', driver_path(driver) %> </td>
          <td><%= link_to 'Edit', edit_driver_path(driver) %></td>
          <td><%= link_to 'Deactivate', driver_deactivate_path(driver),
                          method: :put,
                          data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <%= paginate @drivers %>
  <%= link_to 'Back', welcome_index_path, class: "btn btn-outline-primary my-2 my-sm-0" %>
  <%= link_to 'New Driver', new_driver_path, class: "btn btn-outline-info my-2 my-sm-0" %>
</div>
