<div class="container"><br>

  <!-- <h1 style="text-align: center">Drivers</h1> -->

  <table class="table table-bordered table-hover">
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col" class="row-height">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Application status
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Pending', drivers_path(application_state: "pending") if current_user.organization.drivers.pending.count > 0 %>
          <%= link_to 'Accepted', drivers_path(application_state: "accepted") if current_user.organization.drivers.accepted.count > 0%>
          <%= link_to 'Rejected', drivers_path(application_state: "rejected") if current_user.organization.drivers.rejected.count > 0%>
        </div>
      </th>
    </tr>

    <% @drivers.each do |driver| %>
      <% if driver.organization_id == current_user.organization_id%>
        <tr class="clickable-row", data-href='<%= driver_path(driver) %>'>
          <td><%= driver.first_name %></td>
          <td><%= driver.last_name %></td>
          <td><%= driver.phone %></td>
          <td><%= driver.email %></td>
          <td><%= driver.application_state %></td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <%= paginate @drivers %>
  <%= link_to 'Back', welcome_index_path, class: "btn btn-primary" %>
  <%= link_to 'New Driver', new_driver_path, class: "btn btn-success" %>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
          window.location = $(this).data("href");
      });
  });
</script>
