<div class="container">
  <h1 class="bg-primary rounded  ">Driver</h1>
  <div class="ml-5">
    <div>
      <strong>First Name:</strong>
      <%= @driver.first_name %>
    </div>

    <div>
      <strong>Last Name:</strong>
      <%= @driver.last_name %>
    </div>


    <div>
      <strong>Phone:</strong>
      <%= @driver.phone %>
    </div>
    <div>
      <strong>Email:</strong>
      <%= @driver.email %>
    </div>
    <div>
      <strong>Radius:</strong>
      <%= @driver.radius %>
    </div>
    <div>
      <strong>Active:</strong>
      <%= @driver.is_active %>
    </div>
    <div class="row">
      <div class="col-md">


      <strong>Background Check:</strong>
      <%= @driver.background_check %>
      <%= link_to "Accept",driver_pass_path(@driver),method: :put,
                     data: { confirm: 'Are you sure you want to approve the application?' },
                     class: "btn btn-green btn-sm" %>
      <%= link_to "Reject",driver_fail_path(@driver),method: :put,
                      data: { confirm: 'Are you sure you want to reject the application?' },
                      class: "btn btn-darkgray btn-sm" %>
      </div>
      <div class="col-md">


        <strong>Application Status:</strong>
        <%= @driver.application_state %>
        <%if @driver.background_check ==true%>
          <%= link_to "Accept",driver_accept_path(@driver),method: :put,
                         data: { confirm: 'Are you sure you want to approve the application?' },
                         class: "btn btn-green btn-sm " %>

        <%end%>
        <%= link_to "Reject",driver_reject_path(@driver),method: :put,
                      data: { confirm: 'Are you sure you want to reject the application?' },
                      class: "btn btn-darkgray btn-sm" %>
      </div>
    </div>
  </div>
  <h2 class ="bg-primary rounded mt-2">Cars</h2>

  <% @driver.vehicles.each do |vehicle| %>

    <div class="ml-5">
      <div class="row">
        <div class="col-sm">
          <strong>Car Make:</strong>
          <%= vehicle.car_make %>
        </div>

        <div class="col-sm">
          <strong>Car Model:</strong>
          <%= vehicle.car_model %>
        </div>

        <div class="col-sm">
          <strong>Car Year:</strong>
          <%= vehicle.car_year %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <strong>Car Color:</strong>
          <%= vehicle.car_color %>
          </div>

        <div class="col-sm">
          <strong>Liscense Plate:</strong>
          <%= vehicle.car_plate %>
        </div>

        <div class="col-sm">
          <strong>Number of seats:</strong>
          <%= vehicle.seat_belt_num %>
        </div>

      </div>
      <div class="row">
        <div class ="col-sm">
          <strong>Insurance Provider:</strong>
          <%= vehicle.insurance_provider %>
        </div>
        <div class ="col-sm">
          <strong>Insurance Start:</strong>
          <%= vehicle.insurance_start.strftime("%B %d, %Y") %>
        </div>
        <div class ="col-sm">
          <strong>Insurance stop:</strong>
          <%= vehicle.insurance_stop.strftime("%B %d, %Y") %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <%=link_to "Edit Car",edit_vehicle_path(:id =>vehicle.id), class: "btn btn-secondary btn-sm"%>
        </div>
        <div class="col-sm">
          <%= link_to "Delete Car", vehicle_path(:id=>vehicle.id),method: :delete, class: "btn btn-danger btn-sm"%>
        </div>
        <div class="col-sm">
        </div>
      </div>

    </div>
  <%end%>
  <div class="ml-5 mt-2">
    <%=link_to "Add Car",new_driver_vehicle_path(params[:id]),class: "btn btn-sm btn-green"%>
  </div>

  <div>
    <h2 class ="bg-primary rounded mt-2">Schedules:</h2>
    <%= @schedules %>
  </div>
  <h2 class ="bg-primary rounded mt-2">Locations</h2>
  <% @locations.each do |location| %>
      <div><%= location.street %>, <%= location.city %> <%= location.state %>, <%= location.zip  %></div>
  <% end %>

  <%= link_to 'Edit', edit_driver_path(@driver) %> |
  <%= link_to 'Back', drivers_path %>
</div>
