<h1>Driver</h1>
<p>
  <strong>First Name:</strong>
  <%= @driver.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @driver.last_name %>
</p>


<p>
  <strong>Phone:</strong>
  <%= @driver.phone %>
</p>
<p>
  <strong>Email:</strong>
  <%= @driver.email %>
</p>
<% @driver.vehicles.each do |vehicle| %>

  <p>
    <strong>Car Make:</strong>
    <%= vehicle.car_make %>
  </p>

  <p>
    <strong>Car Model:</strong>
    <%= vehicle.car_model %>
  </p>

  <p>
    <strong>Car Color:</strong>
    <%= vehicle.car_color %>
  </p>
<%end%>
<%=current_driver%>
<p>
  <strong>Schedules:</strong>
  <%= @schedules %>
</p>
<h2>Locations</h2>
<% @locations.each do |location| %>
    <p><%= location.street %>, <%= location.city %> <%= location.state %>, <%= location.zip  %></p>
<% end %>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
