<h1>Driver</h1>
<div>
  <strong>First Name:</strong>
  <%= @driver.first_name %>
</div>

<div>
  <strong>Last Name:</strong>
  <%= @driver.last_name %>
</div>


<div>
  <strong>Phone:</strong>
  <%= @driver.phone %>
</div>
<div>
  <strong>Email:</strong>
  <%= @driver.email %>
</div>
<% @driver.vehicles.each do |vehicle| %>

  <div>
    <strong>Car Make:</strong>
    <%= vehicle.car_make %>
  </div>

  <div>
    <strong>Car Model:</strong>
    <%= vehicle.car_model %>
  </div>

  <div>
    <strong>Car Color:</strong>
    <%= vehicle.car_color %>
  </div>
<%end%>

<%=link_to "Add Car",new_driver_vehicle_path(params[:id])%>
<div>
  <strong>Schedules:</strong>
  <%= @schedules %>
</div>
<h2>Locations</h2>
<% @locations.each do |location| %>
    <div><%= location.street %>, <%= location.city %> <%= location.state %>, <%= location.zip  %></div>
<% end %>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
