<%= form_with(model: @ride, local: true) do |form| %>

  <% if @ride.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@ride.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @ride.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-row">
  <div class="form-group offset-md-1 col-4">
    1. <%= form.label :pick_up_time %>
    <%= form.text_field :pick_up_time, id: 'ride_pick_up_time' %>
  </div>
</div>

<div class="form-row">
  <div class = "form-group offset-md-1 col md-10">
       <div class: "start_location">
        2. <%= label_tag :start_location %>
        <p> Would you like to use previously saved location? <%= form.collection_select "rider_start_location",
         Location.joins(:location_relationships).select("DISTINCT ON (street, city, zip)*").where("location_relationships.rider_id=?", current_rider.id).limit(15),
         :address_parsed, :full_address, { :include_blank => ' ' } %>
        </p>
      </div>
   </div>
</div>


  <%= javascript_tag do %>
   $('#ride_rider_start_location').on('change', function() {
      var data = JSON.parse(this.value);
      var street = data.street;
      var city = data.city;
      var state = data.state;
      var zip = data.zip
      $('#ride_start_street').val(street);
      $('#ride_start_city').val(city);
      $('#ride_start_state').val(state)
      $('#ride_start_zip').val(zip);
    });

  <% end %>
  <%if @ride.start_location.nil? %>
    <%if @start_location.nil? %>
      <% start_street = "" %>
      <% start_city = "" %>
      <% start_state = "" %>
      <% start_zip = "" %>
    <%else %>
      <%start_street = @start_location.street %>
      <%start_city = @start_location.city %>
      <%start_state = @start_location.state %>
      <%start_zip = @start_location.zip %>
    <% end %>
  <% else %>
    <%start_street = @ride.start_location.street %>
    <%start_city = @ride.start_location.city %>
    <%start_state = @ride.start_location.state %>
    <%start_zip = @ride.start_location.zip %>
  <% end %>

<div class="form-row">
    <div class="form-group offset-md-1 col-md-10">
      <%= form.label :start_street, "Street" %>
      <%= form.text_field :start_street, value: start_street, class: "form-control" %>
    </div>
</div>

<div class="form-row">
    <div class="form-group offset-md-1 col-4">
      <%= form.label :start_city, "City" %>
      <%= form.text_field :start_city, value: start_city, class: "form-control" %>
    </div>

    <div class="form-group col-4">
      <%= form.label :start_state, "State" %>
      <%= form.text_field :start_state, value: start_state, class: "form-control" %>
    </div>

    <div class="form-group col-2">
      <%= form.label :start_zip, "Zip" %>
      <%= form.text_field :start_zip, value: start_zip, class: "form-control" %>

      <div class = "check_box_start_location">
        <p>Save start location? <%= form.check_box :save_start_location, {}, checked_value = "saved", unchecked_value = "not saved" %> </p>
      </div>
    </div>
</div>


<div class="form-row">
  <div class="form-group offset-md-1 col-md-10">
   <div class: "start_location">
    3. <%= label_tag :end_location %>
    <p> Would you like to use previously saved location? <%= form.collection_select "rider_end_location",
    Location.joins(:location_relationships).select("DISTINCT ON (street, city, zip)*").where("location_relationships.rider_id=?", current_rider.id).limit(15),
    :address_parsed, :full_address, { :include_blank => ' ' } %>
    </p>
   </div>

   <%if @ride.end_location_id.nil? %>
    <%if @end_location.nil? %>
      <% end_street = "" %>
      <% end_city = "" %>
      <% end_state = "" %>
      <% end_zip = "" %>
    <%else %>
      <%end_street = @end_location.street %>
      <%end_city = @end_location.city %>
      <%end_state = @end_location.state %>
      <%end_zip = @end_location.zip %>
    <% end %>
  <% else %>
    <%end_street = @ride.end_location.street %>
    <%end_city = @ride.end_location.city %>
    <%end_state = @ride.end_location.state %>
    <%end_zip = @ride.end_location.zip %>
  <% end %>

      <%= form.label :end_street, "Street" %>
      <%= form.text_field :end_street, value: end_street, class: "form-control" %>
  </div>
   <%= javascript_tag do %>
   $('#ride_rider_end_location').on('change', function() {
      var data = JSON.parse(this.value);
      var street = data.street;
      var city = data.city;
      var state = data.state;
      var zip = data.zip
      $('#ride_end_street').val(street);
      $('#ride_end_city').val(city);
      $('#ride_end_state').val(state)
      $('#ride_end_zip').val(zip);
    });

  <% end %>

</div>

<div class="form-row">
  <div class="form-group offset-md-1 col-4">
      <%= form.label :end_city, "City" %>
      <%= form.text_field :end_city, value: end_city, class: "form-control" %>
    </div>

    <div class="form-group col-4">
      <%= form.label :end_state, "State" %>
      <%= form.text_field :end_state, value: end_state, class: "form-control" %>
    </div>

    <div class="form-group col-2">
      <%= form.label :end_zip, "Zip" %>
      <%= form.text_field :end_zip, value: end_zip, class: "form-control" %>

      <div class= "save_location">
        <p>Save end location <%= form.check_box :save_end_location, {}, checked_value = "saved", unchecked_value = "not saved" %></p>
      </div>
    </div>

</div>

<div class="form-row">
  <div class="form-group  col-md-10 offset-md-1">
    4. <%= form.label :reason %>
    <%= form.text_field :reason, class: "form-control" %>
  </div>
</div>

<div class="form-row">
  <div class="form-group  col-md-10 offset-md-1">
  5. <%= form.label :round_trip %>
     <%= form.select :round_trip, options_for_select(["false","true"], :selected => form.object.round_trip), class: "form-control" %>
  </div>
</div>

<div class="form-row">
  <div id="show_dep" style="display: none" class="form-group  col-md-10 offset-md-1">
    6. <%= form.label :expected_wait_time %>
       <%= form.select :expected_wait_time, options_for_select([["30 mins", "30"],["45 mins", "45"], ["1.0 hour", "60"], ["1.5 hours", "90"],["2.0 hours", "120"], ["2.5 hours", "150"], ["3.0 hours", "180"]], "#{@ride.expected_wait_time}"), class: "form-control" %>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-1 offset-md-1">
    <%= link_to 'Back', :back, class: "btn btn-outline-primary" %>
  </div>
  <div class="form-group offset-md-8">
    <%= form.submit yield(:button_text), class: "btn btn-outline-success" %>
  </div>
</div>

<% end %>

<script type="text/javascript">
  const el = document.getElementById('ride_pick_up_time');
  flatpickr(el, {
    enableTime:      true,
    altInput:        true,
    minDate:         "today",
    altFormat:       "F j, Y at h:i K",
    dateFormat:      "Y-m-d H:i",
    defaultHour:     23,
    defaultMinute:   59,
    minuteIncrement: 1
  });

  // conditional expected_wait_time
  jQuery(function () {
      $("#ride_round_trip").change(function () {
          if ($(this).val() == "false") {
              $("#show_dep").hide();
          } else {
              $("#show_dep").show();
          }
      });
  });
</script>
