<div class="container">


<h1>Rides</h1>

<table class="table table-striped">
  <tr class="border-bot">
    <th scope="col">Rider</th>
    <th scope="col">Driver</th>
    <th scope="col">Pick Up Time</th>
    <th scope="col">Reason</th>
    <th scope="col">
      <a id="status" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Status
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Approved', rides_path(status: "approved") if current_rider.rides.approved.count > 0 %>
          <div class="dropdown-divider"></div>
          <%= link_to 'Canceled', rides_path(status: "canceled") if current_rider.rides.canceled.count > 0 %>
          <div class="dropdown-divider"></div>
          <%= link_to 'Pending', rides_path(status: "pending") if current_rider.rides.pending.count > 0 %>
        </div>
    </th>
    <% if params[:status] == 'approved' || params[:status] == 'pending' || params[:status] == nil %>
      <th scope="col"></th>
      <th scope="col"></th>
    <% elsif params[:status] == 'canceled' %>
      <th scope="col"></th>
    <% end %>
  </tr>

  <% @rides.each do |ride| %>
    <% if ride.rider==current_rider%>
    <tr>
      <td scope="row"><%= ride.rider.full_name %></td>
      <td><%= ride.driver&.full_name %></td>
      <td><%= ride.pick_up_time.strftime("%b %d, %Y %I:%M %p") %></td>
      <td><%= ride.reason %></td>
      <td><%= ride.status %></td>
      <% if ride.status != 'canceled' %>
        <td><%= link_to 'Cancel', cancel_ride_path(ride), class: "btn btn-sm btn-success", method: :put %></td>
      <% end %>
      <td></td>
    </tr>
    <% end %>
  <% end %>
</table>

<%= paginate @rides %>
<%= link_to 'Back', welcome_index_path, class: "btn btn-outline-primary my-2 my-sm-0" %>
<%= link_to 'New Ride', new_ride_path, class: "btn btn-outline-info my-2 my-sm-0" %>

</div>
