<div class="container">


<h4>LISTING RIDES</h4>

<%= link_to 'New Ride', new_ride_path, class:"btn btn-primary" %>
<table class="table table-striped">
  <tr>
    <th scope="col">Ride ID</th>
    <th scope="col">Rider ID</th>
    <th scope="col">Driver ID</th>
    <th scope="col">Pick Up Time</th>
    <th scope="col">Reason</th>
    <th scope="col">Status</th>
    <th scope="col"></th>
  </tr>

  <% @rides.each do |ride| %>
    <% if ride.rider==current_rider%>
    <tr>
      <td scope="row"><%= ride.id %></td>
      <td><%= ride.rider_id %></td>
      <td><%= ride.driver_id %></td>
      <td><%= ride.pick_up_time %></td>
      <td><%= ride.reason %></td>
      <td><%= ride.status %></td>
      <td><%= link_to 'Show', ride_path(ride) %></td>
      <td><%= link_to 'Edit', edit_ride_path(ride) %></td>
      <td><%= link_to 'Destroy', ride_path(ride),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  <% end %>
</table>

<%= link_to 'Back', welcome_index_path, class:"btn btn-danger" %>

</div>