<div class="container">


<h1>Rides</h1>

<table class="table table-striped">
  <tr class="border-bot">
    <th scope="col">Rider</th>
    <th scope="col">Driver</th>
    <th scope="col">Pick Up Time</th>
    <th scope="col">Reason</th>
    <th scope="col">
      <a id="status" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Status
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to 'Approved', rides_path(status: "approved") if current_rider.rides.approved.count > 0 %>
        <%= link_to 'Canceled', rides_path(status: "canceled") if current_rider.rides.canceled.count > 0 %>
        <%= link_to 'Pending', rides_path(status: "pending") if current_rider.rides.pending.count > 0 %>
        <%= link_to 'Scheduled', rides_path(status: "scheduled") if current_rider.rides.scheduled.count > 0 %>
        <%= link_to 'Picking Up', rides_path(status: "picking-up") if current_rider.rides.picking_up.count > 0 %>
        <%= link_to 'Dropping Off', rides_path(status: "dropping-off") if current_rider.rides.dropping_off.count > 0 %>
        <%= link_to 'Completed', rides_path(status: "completed") if current_rider.rides.completed.count > 0 %>
      </div>
    </th>
    <% if ['approved', 'pending', 'scheduled', nil].include? params[:status] %>
      <th scope="col"></th>
      <th scope="col"></th>
    <% else %>
      <th scope="col"></th>
    <% end %>
  </tr>

  <% @rides.each do |ride| %>
    <% if ride.rider==current_rider%>
    <tr>
      <td class="no-wrap"><%= ride.rider.full_name %></td>
      <td class="no-wrap"><%= ride.driver&.full_name %></td>
      <td class="no-wrap"><%= ride.pick_up_time.strftime("%b %d, %Y %I:%M %p") %></td>
      <td><%= ride.reason %></td>
      <td><%= ride.status %></td>
      <% if ['approved', 'pending', 'scheduled'].include? ride.status %>
        <td>
          <%= link_to cancel_ride_path(ride), class: "btn btn-sm btn-warning", method: :put do %>
            <i class="fa fa-ban">Cancel</i>
          <% end %>
        </td>
      <% end %>
      <td></td>
    </tr>
    <% end %>
  <% end %>
</table>

<%= paginate @rides %>
<%= link_to 'Back', welcome_index_path, class: "btn btn-outline-primary" %>
<%= link_to 'New Ride', new_ride_path, class: "btn btn-outline-info" %>

</div>
