<div class="container">


<h1>Rides</h1>
<%= paginate @rides %>

<table class="table table-striped">
  <tr class="border-bot">
    <th scope="col">Rider</th>
    <th scope="col">Driver</th>
    <th scope="col">Pick Up Time</th>
    <th scope="col">Reason</th>
    <th scope="col">Status</th>
  </tr>

  <% @rides.each do |ride| %>
    <% if ride.rider==current_rider%>
    <tr>
      <td scope="row"><%= ride.rider.full_name %></td>
      <td><%= ride.driver.full_name if !ride.driver.nil? %></td>
      <td><%= ride.pick_up_time.strftime("%b %d, %Y %I:%M %p") %></td>
      <td><%= ride.reason %></td>
      <td><%= ride.status %></td>
    </tr>
    <% end %>
  <% end %>
</table>

<%= paginate @rides %>
<%= link_to 'Back', welcome_index_path %> |
<%= link_to 'New Ride', new_ride_path %>

</div>