<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

  <div style="background-color: #21d192; color: white">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <%= link_to 'https://www.facebook.com/CodeTheDream/', class: "white-icon" do %>
              <i class="fa fa-facebook-f white-text mr-4"> </i>
            <% end %>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <%= link_to 'https://twitter.com/codethedream?lang=en', class: "white-icon" do %>
              <i class="fa fa-twitter white-text mr-4"> </i>
            <% end %>
          </a>
          <!-- Google +-->
          <!-- <a class="gplus-ic">
            <i class="fa fa-google-plus white-text mr-4"> </i>
          </a> -->
          <!--Linkedin -->
          <a class="li-ic">
            <%= link_to 'https://www.linkedin.com/company/code-the-dream', class: "white-icon" do %>
              <i class="fa fa-linkedin white-text mr-4"> </i>
            <% end %>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fa fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold"><a href="https://www.codethedream.org/" style="color:inherit">Code the Dream</a></h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Code the Dream recognizes young people from minority and immigrant backgrounds have
          great ideas and will play a huge part in our 21st century economy.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Services</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="https://www.codethedream.org/portfolio/">Portfolio</a>
        </p>
        <p>
          <a class="dark-grey-text" href="https://www.codethedream.org/services/">Need an App?</a>
        </p>
        <p>
          <a class="dark-grey-text" href="https://www.codethedream.org/volunteer-opportunities/">Volunteer Opportunities</a>
        </p>
        <p>
          <a class="dark-grey-text" href="https://www.codethedream.org/contact-us/">Contact Us</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="/">My Account</a>
        </p>
        <p>
          <a class="dark-grey-text" href="https://www.codethedream.org/category/news/">In the Media</a>
        </p>
        <p>
          <a class="dark-grey-text" href="https://www.codethedream.org/blog/">Blog</a>
        </p>
        <p>
          <a class="dark-grey-text" href="https://www.codethedream.org/donate/">Donate</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-home mr-3"></i>
          <a href="https://www.google.com/maps/place/800+Park+Offices+Dr,+Morrisville,+NC+27560/@35.8961659,-78.8724993,17z/data=!3m1!4b1!4m5!3m4!1s0x89acefbd63c142f3:0x47afe1280315d16a!8m2!3d35.8961659!4d-78.8703106" style="color:inherit">
            Morrisville, NC 27560, US</a></p>
        <p>
          <i class="fa fa-envelope mr-3"></i><a href="mailto:info@codethedream.org" style="color:inherit">info@codethedream.org</a></p>
        <p>
          <i class="fa fa-phone mr-3"></i> <a href="tel:+ 01 919 886 6075" style="color:inherit">+ 01 919 886 6075</a></p>
        <p>
          <i class="fa fa-print mr-3"></i> <a href="tel:+ 01 919 886 6075" style="color:inherit">+ 01 919 886 6075</a></p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">
    <!-- Copyright © 2019 Code the Dream . All Rights Reserved -->
    &copy; <%= copyright_notice_year_range(2014) %> <%= link_to "Code the Dream", "https://www.codethedream.org/", class: "copyright"%> · All Rights Reserved<br/>
    <!-- <p> -->
      <%= link_to "Privacy Policy", "#!", class: "pp-tac" %> ·
      <%= link_to "Terms and Conditions", "#!", class: "pp-tac" %>
    <!-- </p> -->
  </div>

</footer>
<!-- Footer -->
