<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= request.path =~ /welcome/ ? 'active' : '' %>">
        <%= link_to 'Dashboard', "/", :class => 'nav-link active' %>
      </li>
      <li class="nav-item <%= request.path =~ /drivers/ ? 'active' : '' %>">
        <!-- < link_to 'Drivers', "#", :class => 'nav-link active' %> -->
      </li>
      <li class="nav-item <%= request.path =~ /riders/ ? 'active' : ''  %>">
        <!-- < link_to 'Riders', "#", :class => 'nav-link active' %> -->
      </li>
      <li class="nav-item <%= request.path =~ /admin_ride/ ? 'active' : '' %>">
        <!-- < link_to 'Rides', "#", :class => 'nav-link active' %> -->
      </li>
    </ul>
  </div>
</nav>
