<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', welcome_index_path, :class => 'nav-link' %>
      </li>
      <li class="nav-item">
      <%= link_to 'Drivers', drivers_path, :class => 'nav-link' %>
      </li>
      <li class="nav-item">
          <%= link_to 'Riders', riders_path, :class => 'nav-link' %>
      </li>
      <li class="nav-item">
          <%= link_to 'Rides', rides_path, :class => 'nav-link' %>
      </li>
      <li class="nav-item">
          <%= link_to 'Tokens', tokens_path, :class => 'nav-link' %>
      </li>


    </ul>
    <div><% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.

      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>

      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    </div>
  </div>
</nav>




    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
        <%= yield %>
  </body>
</html>
