<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= request.path =~ /welcome/ ? 'active' : '' %>">
            <%= link_to 'Home', welcome_index_path, :class => 'nav-link active' %>
          </li>
          <li class="nav-item <%= request.path =~ /drivers/ ? 'active' : '' %>">
            <%= link_to 'Drivers', drivers_path, :class => 'nav-link active' %>
          </li>
          <li class="nav-item <%= request.path =~ /riders/ ? 'active' : ''  %>">
            <%= link_to 'Riders', riders_path, :class => 'nav-link active' %>
          </li>
          <li class="nav-item <%= request.path =~ /admin_ride/ ? 'active' : '' %>">
            <%= link_to 'Rides', admin_ride_index_path, :class => 'nav-link active' %>
          </li>
          <% if current_user.organization.use_tokens %>
            <li class="nav-item <%= request.path =~ /tokens/ ? 'active' : '' %>">
                <%= link_to 'Tokens', tokens_path, :class => 'nav-link active' %>
            </li>
          <% end %>
          <li class="nav-item">
              <%= link_to 'Change Password', edit_user_registration_path, :class => 'nav-link' %>
          </li>
        </ul>
        <div class="sessions">
          <% if user_signed_in? %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </div>
      </div>
    </nav>






    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

  </body>
</html>
